
header{

    nav {
        a {
            display: flex;
            align-items: center;
            gap: 4.5px;
            padding: 20px;
            width: fit-content;
            margin: auto;
        

            span {
                font-size: 20px;
                text-transform: capitalize;
                font-weight: 700;
                color: #c92071;
                margin-bottom: 2px;
            }
        }
    }


}