*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    color: #000;
    text-decoration: none;
    list-style: none;
}

html, body {
    height: 100%;
}

header{

    nav {
        a {
            display: flex;
            align-items: center;
            gap: 4.5px;
            padding: 20px;
            width: fit-content;
            margin: auto;

            span {
                font-size: 20px;
                text-transform: capitalize;
                font-weight: 700;
                color: #c92071;
            }
        }
    }


}