*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    color: #000;
    text-decoration: none;
    list-style: none;
}

html, body {
    height: 100%;
}
body *{
    display: block;
}

*{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}